# Postgres
POSTGRES_HOST=<postgres_host>
POSTGRES_DB=<postgres_db>
POSTGRES_USER=<postgres_user>
POSTGRES_PASSWORD=<postgres_password>

# MinIO
MINIO_ENDPOINT=<minio_endpoint>
MINIO_ACCESS_KEY=<minio_access_key>
MINIO_SECRET_KEY=<minio_secret_key>
MINIO_BUCKET=<minio_bucket>

# S3
S3_ENDPOINT=<s3_endpoint> # optional
S3_ACCESS_KEY=<your_s3_access_key>
S3_SECRET_KEY=<your_s3_secret_key>
S3_BUCKET=<your_s3_bucket>